@model ProveedorViewModel

@{
    ViewData["Title"] = "upsertProveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Proveedor Individual</h1>


<div class="card">
    <div class="card-header">
        @ViewBag.Action
    </div>
    <div class="card-body">

        <form asp-action="guardarCambiosProveedor" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Proveedor.Id" class="form-control" />

            <div class="form-group mb-2">
                <label asp-for="Proveedor.Nombre" class="control-label"></label>
                <input asp-for="Proveedor.Nombre" class="form-control"> </>
                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
            </div>

        

            <div class="form-group mb-2">
                <label asp-for="Proveedor.CorreoElectronico" class="control-label"></label>
                <input asp-for="Proveedor.CorreoElectronico" class="form-control"> </>
                <span asp-validation-for="Proveedor.CorreoElectronico" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Proveedor.Telefono" class="control-label"></label>
                <input asp-for="Proveedor.Telefono" class="form-control"> </>
                <span asp-validation-for="Proveedor.Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fa-solid fa-floppy-disk"></i>Guardar
                </button> |
                <a asp-action="Proveedores" class="btn btn-outline-danger"
                   asp-controller="Home"><i class="fa-solid fa-ban"></i>Volver a la lista</a>
            </div>

        </form>
        <hr />
    </div>
</div>