@using Inventario.Domain.ConfigurationModels
@using Microsoft.Extensions.Options
@model ForgotPasswordModel
@inject IOptions<GoogleRecaptchaSettings> _options

@{
    ViewData["Title"] = "ForgotPassword";
}



<h1>ForgotPassword</h1>

<h4>ForgotPasswordModel</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="ForgotPassword">
            <input type="hidden" id="token" asp-for="Token" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Solicitar nueva contraseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@_options.Value.SiteKey"></script>

<script>
    function GetToken() {
        grecaptcha.ready(function () {
            grecaptcha.execute('@_options.Value.SiteKey', { action: 'submit' }).then(function (token) {
                // Add your logic to submit to your backend server here.
                console.log(token);
                $("token").val(token);
            });
        });
    }
    $(function () {
        setInterval(GetToken(), 115000);
        GetToken();
    });

</script>

