@{
    ViewData["Title"] = "Password Reset Success";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Password Reset Success</div>
                <div class="card-body">
                    <p>Your password has been reset successfully. You can now log in with your new password.</p>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Log In</a>
                </div>
            </div>
        </div>
    </div>
</div>
